@model IEnumerable<SolairxExample.Model.Job>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-4"><h1>Jobs</h1></div>
    <div class="col-4"></div>
    <div class="col-4"><a asp-action="Create" class="btn btn-primary">Create New</a></div>
</div>
<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobDescription)
            </th>
            <th>Admin</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.JobId">@item.JobName</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobDescription)
                </td>

                <td>
                    <a asp-action="Delete" asp-route-id="@item.JobId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
